MONGO_URL=

JWT_SECRET=
SESSION_SECRET=
CREATE_ADMIN_PASS= #for creating admin

EMAIL_USER=
EMAIL_PASS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DOMAIN=.cacheupp.com
BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173